<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fraudulent Activity Detector</title>
  <meta name="description" content="Fraud Detector">
  <meta name="author" content="Ben Weintraub, Cindy Wong, Tyler Woods">

</head>

<body>
    <h1 style="color:forestgreen">The Fraudulent Activity Detector</h1>
    <p>This app will find and detect fraudulent activity.</p>
    <p>The table is ordered by the 'Risk Factor' and displays the 50 most recent entries.</p>

    <p>If Risk Factor is 'Unable to Predict', our model was not able to determine a Fraud Probability/Risk Factor.</p>
    <p>In that case, your Frauds Department should investigate further.</p>

    <div class="container">
        <p>Events:</p>

        <table style="width:80%" border="4" id=table>
            <tr>
                <th>Sequence</th>
                <th>Object ID</th>
                <th>Name</th>
                <th>Org Name</th>
                <th>Fraud Probability</th>
                <th>Risk Factor</th>
            </tr>
            {% for event in data %}
            <tr>
                <td>{{event['sequence']}}</td>
                <td>{{event['object_id']}}</td>
                <td>{{event['name']}}</td>
                <td>{{event['org_name']}}</td>
                <td>{{event['fraud_probability']}}</td>
                <td>{{event['risk_factor']}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

</body>

</html>